<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex,nofollow">
  <title>TiM</title>
</head>
<body>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    liff.init({ liffId: '{{LIFF_ID}}' })
    .then(() => console.log('LIFF ORIGIN'))
    .catch((err) => alert(err.code, err.message))
  </script>
</body>
</html>
